<h1 mat-dialog-title class="c_primary">Submit gradient</h1>
<div mat-dialog-content>

  <mat-form-field appearance="legacy" class="fullWidth">
    <mat-label>Title</mat-label>
    <input matInput placeholder="gradient name" [(ngModel)]="gradient.name" [disabled]="makingChanges">
  </mat-form-field>

  <mat-form-field appearance="legacy" class="fullWidth">
    <mat-label>Select Type</mat-label>
    <mat-select [(ngModel)]="gradient.type" [disabled]="makingChanges">
      <mat-option *ngFor="let t of resource.gradientList" [value]="t.code" [disabled]="makingChanges">{{t.name}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="legacy" color="warn" class="fullWidth">
    <mat-label>css .gradient&#123;</mat-label>
    <textarea rows="3" matInput placeholder="css code with comments here" [(ngModel)]="gradient.data" [disabled]="makingChanges"></textarea>
    <span matSuffix>&#125;</span>
  </mat-form-field>

  <mat-form-field appearance="legacy" color="warn" class="fullWidth">
    <mat-label>css .gradient&#123;</mat-label>
    <textarea rows="3" matInput placeholder="css code without comments here" [(ngModel)]="gradient.demoCSS" [disabled]="makingChanges"></textarea>
    <span matSuffix>&#125;</span>
  </mat-form-field>

  <mat-form-field appearance="legacy" class="fullWidth">
    <mat-label>Your Name</mat-label>
    <input matInput placeholder="full name" [(ngModel)]="gradient.by" [disabled]="makingChanges">
  </mat-form-field>

  <mat-form-field appearance="legacy" class="fullWidth">
    <mat-label>Your Contact</mat-label>
    <input matInput placeholder="Phone number" [(ngModel)]="gradient.contact" [disabled]="makingChanges">
    <span matPrefix>{{gradient.dial_code}}</span>
    <button mat-icon-button matPrefix [matMenuTriggerFor]="menu" [disabled]="makingChanges"><mat-icon>unfold_more</mat-icon></button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item *ngFor="let x of resource.nations" (click)="gradient.dial_code = x.cc">{{x.cc}} {{x.name}}</button>
    </mat-menu>
  </mat-form-field>


  <p>You Agree to Terms of Service?</p>
</div>
<div mat-dialog-actions align="end">
  <button mat-button  mat-dialog-close>No Thanks</button>
  <button mat-button cdkFocusInitial color="warn" (click)="submit()" [disabled]="makingChanges">Agree & Submit</button>
</div>