
<div class="container body">
<div class="row">
<div class="col col-100 col-sm-100">

<div class="textC" style="height: 50px; margin: 0 0 0 0; display: flex; align-items: center; justify-content: center;">
    <!-- <img src="assets/logoSign.png" style="height: 50px;" /> -->
    <img src="assets/logoSquare.png" style="height: 50px; margin: 0 0 0 0;" />
</div>


<section class="cart_wrapper">


    <div class="cart_lists">
      <div class="cart_title">
        <mat-icon>local_mall</mat-icon>
        &nbsp;
        Choose a payment plan
      </div>
  


      <div class="cart_list_wrap">
        <div class="cart_responsive">



          <div class="tr_item" *ngFor="let x of resource.cartList; let i = index;" (click)="setCart(x)">
            <div class="td_item item_img">
              <img *ngIf="i == 2" src="assets/pack_enterprise.png" />
              <img *ngIf="i == 1" src="assets/pack_private.png" />
              <img *ngIf="i == 0" src="assets/pack_community.png" />
            </div>
            <div class="td_item item_name">
              <label class="main">{{x.name}}</label>
              <label class="sub">US$ {{x.way}}</label>
            </div>
            <div class="td_item item_qty">
            <u *ngIf="x.price !== x.cost" style="text-decoration: line-through; width: 80px;">$ {{x.price}}</u> 
            <label *ngIf="x.price !== x.cost">{{x.price - x.cost}} OFF</label>
            <!-- <label *ngIf="x.price == x.cost">ထ Projects</label> -->
              <!-- <select>
                <option value="1">Refundable</option>
                <option value="2">Non Refundable</option>
              </select> -->
            </div>
            <div class="td_item item_color">
              <label>{{x.during}}</label>
            </div>
            <div class="td_item item_price">
              <label>$ {{x.cost}}</label>
            </div>
            <div class="td_item item_remove">
                <mat-icon class="c_warn">{{ x == cartPack ? 'check_box':'check_box_outline_blank'}}</mat-icon>
            </div>
          </div>
  
  
        </div>
        <div class="footer">
          <div class="back_cart">
            <a routerLink="/explore"><mat-icon>west</mat-icon> Back to Explore</a>
          </div>
          <div class="subtotal">
            <label>Subtotal: </label>
            <strong>$ {{ getCost() | number:'1.2-2'}}</strong>
          </div>
        </div>
      </div>




    </div>
  
    <div class="cart_details">
      <div class="cart_title c_white dFont">
        {{ cartPack.name }}
      </div>
      <div class="form_row">


<ng-container *ngIf=" true ">
        <div class="form_group">
          <p class="c_white">Access to Everexpanding library of Icons, Maps, Datasets, Palettes, Gradients, Patterns, Fonts, Colors to download & modify anytime.</p>
        </div>
        <div class="form_group">
          <input class="input" [(ngModel)]="cardCompany" name="ID_NAME"
          placeholder="Identity Card Name" />
        </div>
        <div class="form_group">
          <input class="input" [(ngModel)]="codeCompany" name="VOTER_ID"
          placeholder="Enter Card ID" />
        </div>

        <div class="form_group">
          <p class="c_white" *ngIf="cartPack == this.resource.cartList[0]">Startup License valid for single project by user or company for a year.</p>
          <p class="c_white" *ngIf="cartPack == this.resource.cartList[1]">Pledged License valid for single project by user or company for 3 years.</p>
          <p class="c_white" *ngIf="cartPack == this.resource.cartList[2]">Enterprise License valid only incase of multiple projects for one company.</p>
        </div>
        <div class="form_group">
          <input class="input" [(ngModel)]="nameCompany" name="PROJECT"
          [placeholder]="
          'Enter ' + ( cartPack == this.resource.cartList[2] ? 'company':'project') + ' name'
          " />
        </div>  

</ng-container>





    <button mat-button [disabled]="makingChanges" (click)="submitPay()" class="btn dFont b_growth c_white">Checkout</button>
      </div>
  
    </div>



  </section>


</div>
</div>
</div>