<h1 mat-dialog-title>Submit data</h1>
<div mat-dialog-content>

  <mat-form-field appearance="fill" class="fullWidth">
    <mat-label>Title</mat-label>
    <input matInput placeholder="table name" [(ngModel)]="table.name" [disabled]="makingChanges">
  </mat-form-field>

  <mat-form-field appearance="fill" class="fullWidth">
    <mat-label>About data</mat-label>
    <input matInput placeholder="table name" [(ngModel)]="table.about" [disabled]="makingChanges">
  </mat-form-field>

  <mat-form-field appearance="fill" class="fullWidth">
    <mat-label>Select Type</mat-label>
    <mat-select [(ngModel)]="table.type" [disabled]="makingChanges">
      <mat-option *ngFor="let t of tableType" [value]="t.code" [disabled]="makingChanges">{{t.name}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill" color="warn" class="fullWidth">
    <mat-label>Data array [</mat-label>
    <textarea rows="3" matInput placeholder="paste data array here" [(ngModel)]="table.data" [disabled]="makingChanges"></textarea>
    <span matSuffix>]</span>
  </mat-form-field>

  <mat-form-field appearance="fill" class="fullWidth">
    <mat-label>Your Name</mat-label>
    <input matInput placeholder="full name" [(ngModel)]="table.by" [disabled]="makingChanges">
  </mat-form-field>

  <mat-form-field appearance="fill" class="fullWidth">
    <mat-label>Your Contact</mat-label>
    <input matInput placeholder="Phone number" [(ngModel)]="table.contact" [disabled]="makingChanges">
    <span matPrefix>{{table.dial_code}}</span>
    <button mat-icon-button matPrefix [matMenuTriggerFor]="menu" [disabled]="makingChanges"><mat-icon>unfold_more</mat-icon></button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item *ngFor="let x of resource.phoneCodes" (click)="table.dial_code = x.dial_code">{{x.name}}</button>
    </mat-menu>
  </mat-form-field>


  <p>You Agree to Terms of Service?</p>
</div>
<div mat-dialog-actions align="end">
  <button mat-button  mat-dialog-close>No Thanks</button>
  <button mat-button cdkFocusInitial color="warn" (click)="submit()" [disabled]="makingChanges">Agree & Submit</button>
</div>