.nav{
    width: 25vw;
    height: 100vh;
    overflow: auto;
    display: flex;
    float: left;
    align-items: top;
    background: #ffffff;
    color: #8d97a1;
    ul{
        list-style: none;
        padding: 0; margin: 0;
        line-height: 30px;
        font-size: 18px;
        width: 100%;
        li{padding: 0; margin: 0 0 0 24px;
            a{color: #000000; text-decoration: none;}
            .status{    margin: 0 0 0 8px;
                padding: 0 8px;
                color: #ffffff;
                line-height: 20px;
                font-size: 14px;
                border-radius: 4px;}
            mat-icon{
                vertical-align: middle;
                margin: 0 8px 0 0;}
        }
        .active a{color: #6200ea;}
    }
}


.main-container{
    width: 75vw;
    min-height: 100vh;
    display: flex;
    align-content: center;
    justify-content: center;
    // background: url('../images/pattern-background-desktop.svg')no-repeat top;
    background-color: #E0E8FE;
    box-sizing: border-box;
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    h1, h2, p {margin: 0;}
    .containerX{
        width: 450px;
        //min-height: 550px;
        margin: auto;
        border-radius: 16px;
    }
    
    .top-part{
        background: linear-gradient(45deg, #f5f7ff 20%, #ffffff 0);
        // background: url('../images/illustration-hero.svg') no-repeat center;
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
        display: flex;
        align-items: center;
        img{
            height: 55px;
            display: inline-block;
            margin: 0 auto;
        }
    }
    
    .bottom-part{
        background-color: #fff;
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
        overflow: hidden;
    }
    
}












/* Media Queries */

@media (min-width: 1440px) {
    .main-container{
        background-image: none;
    }
}

@media (max-height: 700px) {
    .main-container{
        padding: 35px 0;
    }
}

@media (max-width: 500px) {
    .main-container{
        padding: 35px 8px;
    }

}

@media (max-width: 375px) {
    .main-container{
        // background-image: url('../images/pattern-background-mobile.svg');
        padding: 25px 8px;
        .containerX{
            max-width: 350px !important;
        }
    }

}