<div style="width: 100%;
display: inline-block;" *ngIf="activeBio">



    <form class="sign-up-form" *ngIf="!more">

        <div class="input-field">
        <mat-icon>account_circle</mat-icon>
          <input [disabled]="userSign.makingChanges" [ngModel]="activeBio.name" type="text" name="username" autocomplete="username" placeholder="Name" readonly required="yes">
        </div>
        
        <label class="check">
          <input [disabled]="userSign.makingChanges" [ngModel]="userSign.acceptWEB" name="acceptWEB" type="checkbox">
          &nbsp;
          <span class="checkmark">Get web notifications</span>
        </label>

        <div class="input-field">
          <mat-icon><span class="phoneCC">{{chosenNation.cc}}</span></mat-icon>
          <input [disabled]="userSign.makingChanges" [ngModel]="getPhone(activeBio.iso, activeBio.phone)" type="phone" value="+91" name="phone" autocomplete="phone" placeholder="Phone Number" readonly required="yes">
          <!-- <mat-icon [matMenuTriggerFor]="nat">unfold_more</mat-icon> -->
        </div>

        <label class="check">
          <input [disabled]="userSign.makingChanges" [(ngModel)]="userSign.acceptSMS" name="acceptSMS" type="checkbox">
          &nbsp;
          <span class="checkmark">Get sms notifications</span>
        </label>

        <div class="input-field">
            <mat-icon>mail</mat-icon>
          <input [disabled]="userSign.makingChanges" [(ngModel)]="activeBio.email" type="email" name="email" autocomplete="email" placeholder="Email Address" readonly required="yes">
          <!-- <mat-icon [matMenuTriggerFor]="nat">save</mat-icon> -->
        </div>

        <label class="check">
          <input [disabled]="userSign.makingChanges" [(ngModel)]="userSign.acceptEMAIL" name="acceptEMAIL" type="checkbox">
          &nbsp;
          <span class="checkmark">Get email notifications</span>
        </label>



        <div class="headX">
          <h2 class="title dFont">More</h2>
          <span class="divide"></span>
          <a mat-icon-button (click)="more = !more" ><mat-icon>arrow_forward</mat-icon></a>
        </div>
      </form>



    <form class="sign-up-form" *ngIf="more">
        <div class="headX">
            <a mat-icon-button (click)="more = !more" ><mat-icon>arrow_back</mat-icon></a>
            <span class="divide"></span>
            <h2 class="title dFont">Deactivation</h2>
        </div>

        <label class="check">
          <input [disabled]="userSign.makingChanges" [(ngModel)]="userSign.acceptD" name="acceptD" type="checkbox">
          &nbsp;
          <span class="checkmark">Deactivating your account will remove it from Medium within a few minutes. Deactivation will also immediately cancel any subscription for Medium Membership, and no money will be reimbursed. You can sign back in anytime to reactivate your account and restore its content.</span>
        </label>
        <input [disabled]="userSign.makingChanges" type="submit" [value]=" !userSign.makingChanges ? 'Deactivate account' : 'Processing...' " class="btn solid">
    </form>



    <form class="sign-up-form" *ngIf="more">

        <div class="headX">
            <a mat-icon-button (click)="more = !more" ><mat-icon>arrow_back</mat-icon></a>
            <span class="divide"></span>
            <h2 class="title dFont">Termination</h2>
        </div>

        <label class="check">
          <input [disabled]="userSign.makingChanges" [(ngModel)]="userSign.acceptT" name="acceptT" type="checkbox">
          &nbsp;
          <span class="checkmark">We’re sorry to see you go. Once your account is deleted, all of your content will be permanently gone, including your profile, stories, publications, notes, and responses. Deleting your Medium account will not delete any Stripe account you have connected to your Medium account. If you’re not sure about that, we suggest you deactivate or contactyourfriends@medium.com instead.</span>
        </label>
        <input [disabled]="userSign.makingChanges" type="submit" [value]=" !userSign.makingChanges ? 'Terminate account' : 'Processing...' " class="btn solid">
      </form>




</div>

<mat-menu #nat="matMenu" overlapTrigger="true">
    <div style="max-height: 300px; overflow-y: auto;">
    <button mat-menu-item  [disabled]="userSign.makingChanges"
    (click)=" chosenNation = n "
    *ngFor="let n of resource.nations" 
    [class.c_warn]=" chosenNation  == n "><mat-icon>{{ chosenNation !== n ? 'check_box_outline_blank':'check_box'}}</mat-icon> <b>{{n.name}}</b></button>
    </div>
</mat-menu>