<div class="attribution">

    <div class="attributionLeft">
        <div class="attributionVideo">
            <video autoplay loop style="
                -webkit-mask-box-image: url('https://media.flaticon.com/dist/min/img/video/sad/mask.svg'); 
                mask-image: url('https://media.flaticon.com/dist/min/img/video/sad/mask.svg');">
                <source src="https://media.flaticon.com/dist/min/img/video/sad/video.mp4" type="video/mp4">
            </video>
        </div>
    </div>

    <div class="attributionRight">
        <h2>Hey! Remember you have to attribute</h2>
        <h6>Every time you attribute, you make a developer happy</h6>

        <p>Select your favorite social network and share our icons with your contacts or friends, if you do not have social networks copy the link and paste it in the one you use. For more information read the <a href="#" target="_">download the license.</a></p>

        <button mat-button (click)=" downloadNOW('Private') " class="b_primary">Personal Use</button>
        <button mat-button *ngIf="!(auth.user$ | async)" (click)=" downloadNOW('Community') " class="b_growth">Community<span class="mobHide"> Upgrade</span></button>
        <button mat-button *ngIf="!(auth.user$ | async)" (click)=" downloadNOW('Enterprise') " class="b_warn">Enterprise</button>

        <ng-container *ngIf="auth.user$ | async as mine">

        <button mat-button *ngIf="!mine.islesysCommunity" (click)=" downloadNOW('Community') " class="b_growth">Community<span class="mobHide"> Upgrade</span></button>
        <button mat-button *ngIf="mine.islesysCommunity && depends.addDays(mine.islesysCommunitySTART?.toDate(), (mine.islesysCommunityDAYS || 0)) " (click)=" downloadNOW('Private') " class="b_growth">Use Community Pack</button>

        <button mat-button *ngIf="!mine.islesysEnterprise" (click)=" downloadNOW('Enterprise') " class="b_warn">Enterprise</button>
        <button mat-button *ngIf="mine.islesysEnterprise && depends.addDays(mine.islesysEnterpriseSTART?.toDate(), (mine.islesysEnterpriseDAYS || 0)) " (click)=" downloadNOW('Private') " class="b_warn">Use Enterprise Pack</button>

        </ng-container>
        <p><span class="pack">Private Recognition</span>: $0 FOREVAH!
        <br><span class="pack">Startup Community</span>: ${{resource.cartList[0].cost}} FOR FIRST YEAR THEN ${{resource.cartList[0].price}}
        <br><span class="pack">Pledged Community</span>: <u style="text-decoration: line-through;">${{resource.cartList[1].price}}</u> Offer ${{resource.cartList[1].cost}} FOR 3 YEARS
        <br><span class="pack">Prepaid Enterprise</span>: ${{resource.cartList[2].cost}} PER MONTH</p>

    </div>

    <div class="banner" style="background-image: url(assets/premium.png);">
        <div class="about">
            <h6>Don't want to credit the author?</h6>
            <p>You can go <a class="c_growth" href="#"><strong>Community</strong></a> or <a class="c_warn" href="#"><strong>Enterprise</strong></a> easily and use icons, maps, datasets, fonts, and more without attribution.</p>
        </div>
        <a (click)="getSuport()" class="premium"><strong>Get Support</strong></a>
    </div>

    <div class="link">
        <input [ngModel]="link" name="link" readonly>
        <button mat-icon-button color="primary"><mat-icon>content_copy</mat-icon></button>
    </div>
</div>
