<section class="section1">
    <div class="heading textC">
        <h2>Contact<span class="c_warn"> US </span></h2>
        <p>Your suggesions help us improve the platform consistently. We admire your relentless backing and thank you for everything.</p>
    </div>

    <div class="container">
        <div class="row">


            <div class="col-25 col-sm-100 leftWing">
                <div class="title">
                    <h3>Contact detail</h3>
                    <p>Reply within 7 working days.<br>Estimated wait is 1 to 4 days.</p>
                </div>
                <div class="content">
                    <!-- Info-1 -->
                    <!-- <div class="info">
                        <i class="fas fa-mobile-alt"></i>
                        <h4 class="d-inline-block">PHONE :
                            <br>
                            <span>+91 1234567890</span></h4>
                    </div> -->
                    <!-- Info-2 -->
                    <div class="info">
                        <i class="far fa-envelope"></i>
                        <h4 class="d-inline-block">EMAIL :
                            <br>
                            <span>ask@islesys.com</span></h4>
                    </div>
                    <!-- Info-3 -->
                    <div class="info">
                        <i class="fas fa-map-marker-alt"></i>
                        <h4 class="d-inline-block">ADDRESS :
                            <br>
                            <span>Islesys Pvt. Ltd. Thane 401101.<br>Maharashtra, IN.</span>
                            <br><!-- 
                            <span>Islesys Ltd. Amsterdam 1012.<br>Netherlands, EU.</span>
                            <br> -->
                            <span>Islesys LLC. Wilmington 19880.<br>Delaware, USA.</span>
                        </h4>
                    </div>
                </div>
            </div>


            <div class="col-75 col-sm-100 rightWing">
                <form (submit)="true">
                    <div class="col-50">
                        <input type="text" class="form-control"  [disabled]="makingChanges" [class.error]="checkName(formX.name)"
                        [(ngModel)]="formX.name" placeholder="Full Name" name="name" >
                    </div>
                    <div class="col-50">
                        <input type="email" class="form-control"  [disabled]="makingChanges" [class.error]="checkEmail(formX.email)" 
                        [(ngModel)]="formX.email" placeholder="Email ID" name="email" >
                    </div>
                    <div class="col-100">
                        <input type="text" class="form-control" placeholder="Subject" [disabled]="makingChanges" [class.error]="checkDescribe(formX.topic)"
                        [(ngModel)]="formX.topic" name="topic">
                    </div>
                    <div class="col-100">
                        <textarea class="form-control" rows="5" placeholder="Message" [disabled]="makingChanges" [class.error]="checkDescribe(formX.describe)"
                        [(ngModel)]="formX.describe" name="describe" ></textarea>
                    </div>
                    <button class="btn b_warn dFont" type="submit" (click)="submitForm()" [disabled]="makingChanges">SEND NOW</button>
                </form>
            </div>


        </div>
    </div>
</section>
