
    
    h1, h2, p {margin: 0;}
    
    .word-section{
        text-align: center;
        padding-top: 0;
        h1{
            font-size: 28px;
            padding: 12px;
            color:  hsl(223, 47%, 23%);
            font-weight: 700;
        }
        
        p{
            font-size: 17px;
            letter-spacing: 0.4px;
            line-height: 23px;
            font-weight: 600;
            color: hsl(226, 20%, 71%);
            padding: 12px;
            margin-bottom: 15px;
        }
    }
    
    
    .plan-section{
        background-color: hsl(225, 100%, 98%);
        display: flex;
        flex-direction: row;
        padding: 16px;
        border-radius: 12px;
        align-items: center;
        margin: 0 20px;
        //margin-bottom: 32px;
        .img img{
            margin-right: 15px;
            height: 3em;
        }
        .annual-plan h2{
            color:  hsl(223, 47%, 23%);
            font-size: 20px;
        }
        .annual-plan p{
            color: hsl(226, 20%, 71%);
            font-weight: 600;
        }
        .change{
            margin: auto;
            margin-right: 0px;   
            a{
                color: hsl(245, 75%, 52%);
                text-decoration: underline;
                font-weight: 600;
                transition: 0.3s ease-out;
                transition-property: color, text;
            }
            a:hover{
                color: #766CF1;
                text-decoration: none;
            }
        }
    }
    
    
    .btn-section{
        display: flex;
        flex-direction: column;
        margin-top: 8px;
        padding-bottom: 32px;
        .btn{
            border: none;
            width:auto;
            margin: 0 auto;
            font-size: 14px;
            padding: 14px 24px;
            border-radius: 48px;
            font-weight: 700;
            cursor: pointer;
        }
        
        .btn-payment{
            background-color: #6200ea;
           // margin-bottom: 25px;
            color: #fff;
            transition: 0.3s ease-in;
            transition-property: background;
            //box-shadow: 0 18px 14px 0px rgba(0, 0, 0, 0.2);
        }
        
        .btn-payment:hover{
            background-color: #6200ea;
        }
    }
    
@media (max-width: 500px) {
    .plan-section .annual-plan h2{
        font-size: 16px;
    }

    .plan-section .annual-plan p{
        font-size: 14px;
    }

    .plan-section .change a{
        font-size: 14px;
        }

}



@media (max-width: 375px) {
    
        br{
            display: none;
        }
    
        .word-section p{
            margin: 0 18px;
        }
    
        .plan-section{
            margin: 0 20px;
        }
        
        .annual-plan{
            margin-right: 15px;
        }

}