
    <!--start About Us-->
    <div class="reservation">
        <div class="text">
            <h3>islesys.com</h3>
            <mat-icon>star</mat-icon>
            <mat-icon>star</mat-icon>
            <mat-icon>star</mat-icon>
            <p>Islesys is an Indian company founded by Dipesh Bhoir (a leading South Asian programmer) and his associates based in Maharashtra, India.
            <br><br>#1 &nbsp; <b>Myriad Undertkings</b>
            <br>The Myriad undertkings is a major initiative with an aim to form an ecosystem around reusable tech dependencies that could be utilized to educate and sponsor inovation by students across the planet. It is a expanding mecca for free digital assets.
            <br><br>#2 &nbsp; <b>Islesys Holdings</b>
            <br>The Islesys Holdings is a company whose primary business is holding a controlling interest in the securities of other companies.
            </p>
            <div><a class="a-CTA" routerLink="/explore">A Dipesh Bhoir Initiative</a></div>
        </div>
        <div class="image-container">
            <div class="image image1">
                <img src="assets/about1.jpg" alt="Food Photo">
            </div>
            <div class="image image2">
                <img src="assets/about2.jpg" alt="Food Photo">
            </div>
        </div>
    </div>
    <!--End About Us-->
  
