.reservation{
    display: flex;
    padding: 30px 30px 0 30px;
    .text{
        text-align: center;
        flex: 50%;
        padding: 30px 0 80px 0;
        h3 {
            font-size: 30px;
            font-weight: bold;
            letter-spacing: 9.4px;
            margin: 0 0 15px 0;
            color: #000;
        }
        mat-icon {
            color: #9a9998;
        }
    }
    .image-container{
        display: flex;
        flex: 50%;
    }
    img {
        max-width: 80%;
        margin: 0 auto;
    }
    .image {
        text-align: center;
    }
    // .image1 {
    //     margin-left: 0;
    // }
    a {
        text-decoration: none;
    }
    .a-CTA {
        border-bottom: 2px solid #a96700;
        padding-bottom: 4px;
        letter-spacing: 1.5px;
        font-size: 18px;
        color: #a96700;
    }
}
@media screen and (max-width: 480px) {
    .reservation{
        flex-direction: column-reverse;
    }
}