
<section>
    <div style="    height: calc(100vh - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;">
        <h1 style="max-width: 340px;
        text-align: center;">Our mission is to <span class="dFont c_warn">organise</span> the <span class="dFont c_growth">economic opportunities</span> worldwide and <span class="dFont c_primary">advance</span> them to be <span class="dFont c_warn">marketable</span>.</h1>
    </div>
</section>



    <!--start About Us-->
    <div class="reservation">
        <div class="text">
            <h3>islesys.com</h3>
            <div><a class="a-CTA" routerLink="/explore">A Dipesh Bhoir Initiative</a></div>
            <mat-icon>star</mat-icon>
            <mat-icon>star</mat-icon>
            <mat-icon>star</mat-icon>
            <p>Islesys is founded by Dipesh Bhoir (a leading South Asian programmer) and his associates based in Maharashtra, India. Our work can be primarily segmented in two categories. The Myriad undertkings is a major initiative with an aim to form an ecosystem around reusable tech dependencies whose revenue is utilized to sponsor early inovation. It is a expanding mecca for high quality digital assets. While Islesys Holdings is a group of companies whose primary business is holding a controlling interest in the securities of other companies.</p>
            <!-- <p>Islesys is an Indian company founded by Dipesh Bhoir (a leading South Asian programmer) and his associates based in Maharashtra, India.
            <br><br>#1 &nbsp; <b>Myriad Undertkings</b>
            <br>The Myriad undertkings is a major initiative with an aim to form an ecosystem around reusable tech dependencies that could be utilized to educate and sponsor inovation by students across the planet. It is a expanding mecca for free digital assets.
            <br><br>#2 &nbsp; <b>Islesys Holdings</b>
            <br>The Islesys Holdings is a company whose primary business is holding a controlling interest in the securities of other companies.
            </p> -->
        </div>
        <div class="image-container">
            <div class="image image0">
                <img src="assets/about0.jpg" alt="R">
            </div>
            <div class="image image1">
                <img src="assets/about1.jpg" alt="B">
            </div>
            <div class="image image2">
                <img src="assets/about2.jpg" alt="G">
            </div>
        </div>
    </div>
    <!--End About Us-->
  
<section class="section9">
    <div class="container">
        <div class="row">

            <div class="col col-20 col-sm-50" *ngFor="let x of brands">
                <div class="card">
                <div class="ridge">
                    <img [src]=" 'assets/products/' + x.img" [alt]="x.name"/>
                    <div class="about dFont">{{x.name}}</div>
                </div>
                </div>
            </div>

        </div>
    </div>
</section>