
.title{
    h2{margin: 0 8px 0 8px;}
    p{margin: 0 8px 0 8px;}
}
.code{
    padding: 16px 0 0 0;margin: 0 auto;
    max-width: 1200px; 
    textarea{
        padding: 8px; 
        margin: 0 16px 8px 16px;
        // margin: 8px 16px;
        border: 0px solid;
        outline: 0px;
        width: -webkit-fill-available; max-width: -webkit-fill-available; min-width: -webkit-fill-available;
        height: calc(50vh - 80px);
        line-height: 25px; font-size: 14px;
        overflow: hidden;
        overflow-y: scroll;
        white-space: pre;
    }
    p{
        display: flex; align-items: center; justify-content: center;
        .sideToggle{vertical-align: middle;}
        a{vertical-align: middle; text-decoration: none;}
    }
}
.download{
    button{
        line-height: 50px;
        //background: #ffffff;
        margin: 0 4px 4px 4px;
        font-weight: bold;
    }
}