<div class="container">

        <div class="row">


          <div class="col col-100 b_white">
            <div style="display: flex; align-items: center; height: 120px;">
              <img style="height:50px; margin: 0 0 0 24px;" 
              src="assets/logo.png" /> 
              <h2 style="height:40px; line-height: 20px; margin: 5px 0 5px 8px; color: #cccccc; " >for<br>influencers</h2>
            </div>
          </div>


          <div class="col col-25 col-sm-100">
            <div class="share-boxes">
              <img src="assets/influencers/img1.png" alt="img1" border="0">
              <p class="dFont">Share with your followers</p>
            </div>
          </div>

          <div class="col col-10"></div>

          <div class="col col-25 col-sm-100">
            <div class="share-boxes">
              <img src="assets/influencers/img2.png" alt="img2" border="0">
              <p class="dFont">Give them upto 40% Discount</p>
              <img src="assets/influencers/dotted-arrow1.png" alt="dotted-arrow1" class="dotted-line">
              <img src="assets/influencers/dotted-arrow2.png" alt="dotted-arrow2" class="dotted-line2">
            </div>
          </div>

          <div class="col col-10"></div>

          <div class="col col-25 col-sm-100">
            <div class="share-boxes">
              <img src="assets/influencers/img3.png" alt="img3" border="0">
              <p class="dFont">Get US$4 for every Subscriber</p>
            </div>
          </div>

        </div>






        <div class="row refer-form-sec">
          <div class="col col-40">
            <div class="refer-image">
              <img src="assets/influencers/big-image.jpg" alt="big-image" border="0" />
            </div>
          </div>
          <div class="col col-60">
            <!-- <div class="refer-form">
              <ul>
                <li class="facebook-color"><a href="#">Facebook</a></li>
                <li class="youtube-color"><a href="#">you tube</a></li>
                <li class="twitter-color"><a href="#">twitter</a></li>
              </ul>
            </div> -->
            <div class="refer-form-content">
              <h2 class="textC">Join influencer program</h2>
              <!-- <p>Talking about friends sexually helps to normalize it. You can start <a href="#">NOW!</a></p> -->
              <form (submit)="true">

                <input class="textC" type="text" name="NAME" placeholder="Your Name as per Bank">

                <select class="textC" value="" placeholder="Select Country" >
                  <option value="">No Selection</option>
                  <option value="EU">European Union</option>
                  <option value="IN">India</option>
                  <option value="US">United States</option>
                </select>

                <input class="textC" type="text" name="AC" placeholder="Your Account Number">
                <input class="textC" type="text" name="IFSC" placeholder="Your Bank IFSC">
                <!-- <p>
                  <label class="container-checkbox">i have read and accept the T & C and privacy policy
                    <input type="checkbox">
                    <span class="checkmark"></span>
                  </label></p> -->
                <button [disabled]="apply.makingChanges"
                [class.btn_active]="!apply.makingChanges" >Start Earning Today</button>
              </form>
            </div>
          </div>
        </div>


        <div class="row">
          

          <div class="col col-20 col-sm-75 textC">
            <h2>US$ 0.00</h2>
            <p class="dFont">Balance</p>
          </div>
          <div class="col col-20 col-sm-25 textC">
            <h2>0</h2>
            <p class="dFont">Signed Users</p>
          </div>
          <div class="col col-20 col-sm-100 textC">
            <h2>US$ 0.00</h2>
            <p class="dFont">Withdrawn</p>
          </div>
          <div class="col col-20 col-sm-75 textC">
            <h2>0</h2>
            <p class="dFont">Paid Claims</p>
          </div>
          <div class="col col-20 col-sm-25 textC">
            <h2>US$ 0.00</h2>
            <p class="dFont">Revenue</p>
          </div>


          <div class="col col-100 pricing" >
            <table>
              <tr>
                <th>Platform</th>
                <th>About</th>
                <th class="textC">New User</th>
                <th class="textC">You Earn</th>
              </tr>
              <tr>
                <td class="dFont">islesys.com</td>
                <td>Asia's Largest Content Library</td>
                <td class="textC">$20 OFF</td>
                <td class="textC">$4.00</td>
              </tr>
              <tr>
                <td class="dFont">mapwale.com</td>
                <td>World's Largest SVG Maps Library</td>
                <td class="textC">$20 OFF</td>
                <td class="textC">$9.00</td>
              </tr>
              <tr>
                <td class="dFont">iconwho.com</td>
                <td>World's Largest Standard icon Library</td>
                <td class="textC">$20 OFF</td>
                <td class="textC">$9.00</td>
              </tr>
              <tr>
                <td colspan="4">
                  <br>- Join our influencers & Earn Monthly with no upper limit.
                  <br>- Bring in global audience and in US Dollars everyday.
                  <br>- Claim anytime! we process all requests once every month.</td>
              </tr>
            </table>
          </div>


          



          <div class="col col-100">
            <div class="refer-progress">
              <h2>YOUR REFERRAL PROGRESS</h2>
              <table class="table table-hover" style="width: -webkit-fill-available;">
                <tbody>
                  <!-- <tr *ngFor="let x of [1,2,3,4,5,6,7,8]">
                    <td>Dipesh Bhoir Subscribed with your Code</td>
                    <td><strong>US$ 3.00</strong></td>
                  </tr> -->
                  <tr>
                    <td colspan="2">You have none</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>



    </div>