

<section class="sectionZ">
    <div class="about">
      <div class="we textC">
        <h2 class="b_growth">Asia's Largest Content Library</h2>
        <img src="assets/nations/india.png" />
        <img src="assets/nations/japan.png" />
        <img src="assets/nations/israel.png" />
        <img src="assets/nations/china.png" />
        <img src="assets/nations/south-korea.png" />
        <img src="assets/nations/usa.png" />
        <img src="assets/nations/russia.png" />
        <img src="assets/nations/taiwan.png" />
        <img src="assets/nations/european.png" />
        <img src="assets/nations/brasilia.png" />
        <img src="assets/nations/uk.png" />
        <h2 class="b_growth nFont">Backed by Dipesh Bhoir</h2>
      </div>
    </div>
    </section>
    
    <section class="sectionY">
      <div class="intrestingProjects">
        <h2 class="c_primary">Some intresting projects</h2>
        <ul>
          <li><a [href]=" domainX " >- isleSys[dot]com</a></li>
          <li><a [href]=" 'https://iconwho.com' " >- iconWho[dot]com</a></li>
          <li><a [href]=" 'https://mapwale.com' " >- mapWale[dot]com</a></li>
          <!-- <li><a [href]=" 'https://aimtera.com' " >- aimTera[dot]com</a></li>
          <li><a [href]=" 'https://frycold.com' " >- fryCold[dot]com</a></li> -->
          <li><a [href]=" domainX + '/icons' " >- Icons</a></li>
          <li><a [href]=" domainX + '/maps' " >- Maps</a></li>
          <li><a [href]=" domainX + '/datasets' " >- Datasets</a></li>
          <li><a [href]=" domainX + '/fonts' " >- Fonts</a></li>
          <li><a [href]=" domainX + '/models' " >- Models</a></li>
          <li><a [href]=" domainX + '/images' " >- Images</a></li>
          <li><a [href]=" domainX + '/videos' " >- Videos</a></li>
          <li><a [href]=" domainX + '/tracks' " >- Tracks</a></li>
          <li><a [href]=" domainX + '/palettes' " >- Palettes</a></li>
          <li><a [href]=" domainX + '/gradients' " >- Gradients</a></li>
          <li><a [href]=" domainX + '/patterns' " >- Patterns</a></li>
          <li><a [href]=" domainX + '/shades' " >- Shades</a></li>
        </ul>
      </div>
    </section>
    
    
    
    
    
    
    
    
    <section class="section14">
      <div class="container">
        <div class="row">
    
      <div class="col col-40 col-sm-100">
        <div class="cardX card1 c_white">
          <h2><mat-icon>tips_and_updates</mat-icon> Customize before downloading</h2>
          <p>Continuesly integrating customization <br>methods for undertaking.</p>
        </div>
      </div>
    
      <div class="col col-20 col-sm-none">
        <img style="    height: 98px;
        display: block;
        margin: 5px auto 2px auto;" src="assets/logoSquare.png" />
      </div>
    
      <div class="col col-40 col-sm-100">
        <div class="cardX card2 c_white">
          <h2><mat-icon>tips_and_updates</mat-icon> Choose every possible format</h2>
          <p>We provide diverse aligment <br>to suit your needs such as file format.</p>
        </div>
      </div>
    
      <div class="col col-30 col-sm-100">
        <div class="cardX card3 c_white">
          <h2><mat-icon>tips_and_updates</mat-icon> Recognition</h2>
          <p>Looking to reach more people <br>so you could be our voice.</p>
        </div>
      </div>
    
      <div class="col col-40 col-sm-100">
        <div class="cardX card4 c_white">
          <h2><mat-icon>tips_and_updates</mat-icon> Communities Benifit</h2>
          <p>We provide single licence with <br>minimal charges to helps you save.</p>
        </div>
      </div>
    
      <div class="col col-30 col-sm-100">
        <div class="cardX card5 c_white">
          <h2><mat-icon>tips_and_updates</mat-icon> Simplicity</h2>
          <p>We try to keep things simple so <br>that even a child could understand.</p>
        </div>
      </div>
    
        </div>
      </div>
    </section>
    
    
    
    